
%{~ for k,v in webservers ~}


[${k}]
%{~ for i in v ~}

${i["name"]}   ansible_host=%{ if "${i["network_interface"][0]["nat_ip_address"]}"==""} ${i["network_interface"][0]["ip_address"]} %{else} ${i["network_interface"][0]["nat_ip_address"]} %{ endif }
%{~ endfor ~}

%{~ endfor ~}